{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block content %}


<div class="observations">
    {% include "menu.html" %}

    <h1>Draw your reward!</h1>

    <article class="claim">
        {% if claim.rewarded_for %}
        <div class="description">
            {{ claim.rewarded_for }}
        </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <button type="submit">Get your reward ⚜️</button>
        </form>
    </article>
</div>

{% endblock %}