{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block content %}


<div class="observations">
    {% include "menu.html" %}

    <div class="claimed-header">
        <h1>Your reward</h1>

        <span class="meta">
            Claimed on {{ claim.claimed_date }}
        </span>
    </div>

    <div class="claim claimed">
        {% for item in claim.claimed %}
            <article class="item {% if item.emoji %} has-emoji{% endif %}">
                <span class="number">{{ item.count }}</span> 
                <div class="emoji">
                    {% if item.emoji %}
                        <span>
                            {{ item.emoji }}
                        </span>
                    {% else %}
                        <span>
                            🎁
                        </span>
                    {% endif %}
                </div>

                <div class="rest">
                    <h3>
                        {{ item.name }}
                    </h3>
                    <div class="reward">
                        {{ item.description }}
                    </div>
                </div>
            </article>
        {% endfor %}
        </div>
</div>

{% endblock %}