{% extends "base.html" %}

{% block body_class %}page-daily{% endblock %}

{% block title %}Habits | Tasks Collector{% endblock %}

{% block content %}


<section class="journal">
    <div class="cont">
        {% include "menu.html" %}
    </div>

    <h1>Habits</h1>

    <main>
        <dl>
            {% for habit in object_list %}
                <dt>
                    <strong><a href="{% url 'public-habit-detail' habit.slug %}">{{ habit.name }}</a></strong> ({{ habit.as_hashtags|join:', ' }})
                </dt>
                {% if habit.description %}
                    <dd>
                        {{ habit.description|linebreaks }}
                    </dd>
                {% endif %}
            {% endfor %}
        </dl>
        </ul>
    </main>
</section>
{% endblock %}