{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block title %}
    {% if latest_insight %}
        Edit Insight
    {% else %}
        Extract Insight
    {% endif %}
{% endblock %}

{% block content %}
<!-- Vue entry-point -->


<div class="observations">
    <div class="cont">
        {% include "menu.html" %}
    </div>

<div class="observation-edit page">

<form action="" method="POST">
    {% csrf_token %}

    <div class="form">

        <div class="left">
            <h3>Insight</h3>
            <p class="meta">{{ instance.event_stream_id }} <br>Refine the situation and approach from your observation.</p>
            {{ form.as_p }}
        </div>

        <div class="right">
            <h3>Original Observation</h3>
            <p class="meta">Closed on {{ instance.published|date }}</p>
            <div class="situation">
                <strong>Situation</strong>
                {{ instance.situation|linebreaks }}
            </div>
            <div class="interpretation">
                <strong>Interpretation</strong>
                {{ instance.interpretation|linebreaks }}
            </div>
            <div class="approach">
                <strong>Approach</strong>
                {{ instance.approach|linebreaks }}
            </div>
        </div>
    </div>
    <div class="submit">
        <div class="submit-buttons">
            <button class="submit">Save</button>
        </div>
    </div>
    <div class="updates">
        {% for event in events %}
            <div class="event">
                {% if event.template %}
                    {% include event.template %}
                {% else %}
                    {{ event }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</form>
</div>

</div>
{% endblock %}
