{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block title %}Closed Observations | Tasks Collector{% endblock %}
{% block content %}
<!-- Vue entry-point -->


<div class="observations">
    <div class="cont">
        {% include "menu.html" %}

        <p class="menu observation with-badges">
            <a href="{% url 'public-observation-list' %}">Mine <span class="badge">{{ mine_count }}</span></a>
            <a href="{% url 'public-observation-list-all' %}">All <span class="badge">{{ open_count }}</span></a>
            <a href="{% url 'public-observation-list-closed' %}">Closed <span class="badge">{{ closed_count }}</span></a>
            <a href="{% url 'public-lessons-list' %}">Lessons</a>
        </p>
    </div>
        {% for observation in object_list %}
        <article class="observation" id="observation-{{ observation.pk }}">

            <div class="meta">
                {{ observation.published|date }}
                (<span class="type" style="color: {{ observation.type.color }};">{{ observation.type }}</span>;
                <span class="thread">{{ observation.thread }}</span>
                <a href="{% url 'public-observation-closed-detail' observation.event_stream_id %}">$</a>)
            </div>
            <div class="strong">{{ observation.situation|linebreaks }}</div>

            <div class="expand">
            <div class="label">How you saw it, what you felt?</div>
            <div>{{ observation.interpretation|linebreaks }}</div>
            <div class="label">How should you approach it in the future?</div>
            <div>{{ observation.approach|linebreaks }}</div>
            </div>
        </article>

        {% empty %}
        <div class="empty">
            No articles yet.
        </div>
        {% endfor %}
</div>

{% endblock %}
