{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block content %}
<!-- Vue entry-point -->


<div class="observations">
    <div class="cont">
        <p class="menu">
            <a href="/">Daily</a>
            <a href="/hello/world/">Tasks</a>
            <a href="/observations/">Observations</a>
            <a href="/admin/tree/observation/add/">+Observation</a>
            <a href="/periodical/">Periodical</a>
            <a href="/summaries/">Summaries</a>

        </p>
    </div>
        {% for observation in object_list %}
        <article class="observation" id="observation-{{ observation.pk }}">

            <div class="meta">{{ observation.pub_date }} (<span class="type">{{ observation.type }}</span>; <span class="thread">{{ observation.thread }}</span> <a href="/admin/tree/observation/{{ observation.pk }}/change/">#</a>)</div>
            <div class="strong">{{ observation.situation|linebreaks }}</div>

            <div class="label">How you saw it, what you felt?</div>
            <div>{{ observation.interpretation|linebreaks }}</div>
            <div class="label">How should you approach it in the future?</div>
            <div>{{ observation.approach|linebreaks }}</div>
        </article>

        {% empty %}
        <div class="empty">
            No articles yet.
        </div>
        {% endfor %}
</div>

{% endblock %}

<!-- Load Vue app -->
{% block extrajs %}
{% endblock %}

