{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block title %}
    {% if instance.situation %}
        {{ instance.situation_truncated }}
    {% else %}
        Add an observation
    {% endif %}
{% endblock %}

{% block content %}
<!-- Vue entry-point -->


<div class="observations">
    <div class="cont">
        {% include "menu.html" %}
    </div>

<div class="observation-edit page">
<form action="" method="POST">
    {% csrf_token %}

    <div class="form">

        <div class="left">
            <h3>Observation</h3>
            <p class="meta">Provide situation, then interpretation and approach.</p>
            {{ form.as_p }}     
        </div>

        <div class="right">
            <h3>Updates</h3>
            <p class="meta">Optional. All existing updates and up to 3 extra are here.</p>
            {{ formset }}
        </div>
    </div>
    <div class="submit">
        <div class="submit-buttons">
            <button class="submit">Save</button>
            <button class="submit" name="save_and_close">Save and go back</button>
        </div>
        
        {% if instance.pk %}
        <div class="close">
            <button class="close" hx-post="{% url 'public-observation-close' instance.pk %}">
                Close observation
            </button>
            <!--<button class="close" hx-post="{% url 'public-observation-journalize' instance.pk %}">
                Convert to journal
            </button>-->
        </div>
        {% endif %}
    </div>
    <div class="updates">
        {% for event in events %}
            <div class="event">
                {% if event.template %}
                    {% include event.template %}
                {% else %}
                    {{ event }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</form>
</div>

</div>
{% endblock %}

<!-- Load Vue app -->
{% block extrajs %}
{% endblock %}

