{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}quick-notes{% endblock %}

{% block title %}Quick Notes | Tasks Collector{% endblock %}

{% block content %}

<section class="quick-notes">
    <form hx-post="{% url 'quick-note-add' %}" id="form">
        {% include "tree/quick_note/form.html" %}
    </form>

    <div class="quick-note-list">
        {% for note in notes %}
            <div class="note">
                <div class="meta timesince">{{ note.published|timesince }} ago</div>
                <div class="content">
                    {{ note.note|linebreaks }}
                </div>
            </div>
        {% empty %}
            <div class="empty">
                Add a new note...
            </div>
        {% endfor %}
    </div>

    <!-- Current Plans -->
    <div class="current-plans">
        {% if daily_plan and daily_plan.focus %}
            <div class="plan-focus daily">
                <h4>Daily Focus</h4>
                <div class="focus-content">{{ daily_plan.focus|linebreaks }}</div>
            </div>
        {% endif %}
        
        {% if weekly_plan and weekly_plan.focus %}
            <div class="plan-focus weekly">
                <h4>Weekly Focus</h4>
                <div class="focus-content">{{ weekly_plan.focus|linebreaks }}</div>
            </div>
        {% endif %}
        
        {% if big_picture_plan and big_picture_plan.focus %}
            <div class="plan-focus big-picture">
                <h4>Big Picture Focus</h4>
                <div class="focus-content">{{ big_picture_plan.focus|linebreaks }}</div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}


{% block extrajs %}
{% endblock %}

