{% extends 'base.html' %}
{% load render_assets %}

{% block title %}Tasks | Tasks Collector{% endblock %}

{% block content %}
<!-- Vue entry-point -->

<div 
    id="app-meta"
    data-default-thread="{% if profile.default_board_thread %}{{ profile.default_board_thread.name }}{% else %}Daily{% endif %}"
>
</div>

<div id="app"></div>
{% endblock %}

<!-- Load Vue app -->
{% block extrajs %}
{% render_js 'hello_world_mount' %}
{% endblock %}

{% block extrahead %}
{% csrf_token %}
{% endblock %}