{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block content %}
<!-- Vue entry-point -->


<div class="observations">
    {% include "menu.html" %}
    
    {% for quest in object_list %}
    <article class="quest fall {% if quest.date_closed %}completed{% endif %}" id="observation-{{ quest.pk }}">
        <a class="main" href="{{ quest.get_absolute_url }}">{{ quest.name }}</a>

        <span class="meta">
            {% if quest.date_closed %}
                🏆 on {{ quest.date_closed }} 
            {% else %} 
                stage {{ quest.stage }}
            {% endif %} 
            | <a href="/admin/quests/quest/{{ quest.pk }}/change/">edit</a>
        </span>
    </article>

    {% empty %}
    <div class="empty">
        No articles yet.
    </div>
    {% endfor %}
</div>

{% endblock %}

