{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block content %}


<div class="observations">
    <div class="cont">
        <p class="menu">
            <a href="/">Daily</a>
            <a href="/hello/world/">Tasks</a>
            <a href="/observations/">Observations</a>
            <a href="/admin/tree/observation/add/">+Observation</a>
            <a href="/periodical/">Periodical</a>
            <a href="/summaries/">Summaries</a>
            <a href="/quests/view/">Quests</a>

        </p>
    </div>

    <div class="quest quest-single">
        <h1>{{ quest.name }}</h1>
        <div class="meta">
            {% if quest.date_closed %}
                🏆 on {{ quest.date_closed }} 
            {% else %} 
                stage <strong>{{ quest.stage }}</strong>
            {% endif %} 
            | <a href="/admin/quests/quest/{{ quest.pk }}/change/">edit</a>
        </div>
    </div>

    {% for item in quest.questjournal_set.all %}
        <article class="quest-single-item">
            <div class="date">
                {{ item.pub_date|date:"F, Y-m-d" }}; {{ item.pub_date|date:"H:i" }}
            </div>
            {% if item.stage > 0 %}
                <div class="stage">
                    {{ item.stage }}
                </div>
            {% endif %}

            <div class="text">
                {{ item.text|linebreaks }}
            </div>
        </article>
    {% endfor %}

    <div class="vh60">
    </div>
</div>
{% endblock %}