// Load specific styles from styles/ here.

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700&display=swap&subset=latin-ext');

@import '~vue-context/src/sass/vue-context.scss';

$lower-pane: 40px;
$upper-pane: 54px;

@import './styles/tree.scss';
@import './styles/notifier.scss';

@import './styles/example.scss';

.hidden {
    display: none !important;
}