{% load render_assets %}
{% load static %}

{% block html %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Tasks Collector{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block cssmount %}
            {% render_css 'app' %}
        {% endblock %}

        {% block extracss %}
        {% endblock %}

        <script 
            src="https://unpkg.com/htmx.org@2.0.1" 
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" 
            crossorigin="anonymous"
            defer
        ></script>

        {% block extrahead %} {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block content %} {% endblock %}

        {% if APP_VERSION %}
        <footer class="app-version-footer">
            <span class="app-version">{{ APP_VERSION }}</span>
        </footer>
        {% endif %}

        {% block jsmount %}
            {% render_js 'app' %}
        {% endblock %}

        {% block extrajs %}
        {% endblock %}
    </body>
</html>
{% endblock %}
