{% extends 'base.html' %}
{% load render_assets %}
{% load listize %}

{% block content %}
<!-- Vue entry-point -->

<div class="summary">

    <div class="upper-pane">
        <h1>Periodical</h1>
        <p class="menu">
            <a href="/">Daily</a>
            <a href="/hello/world/">Tasks</a>
            <a href="/observations/">Observations</a>
            <a href="/admin/tree/observation/add/">+Observation</a>
            <a href="/periodical/">Periodical</a>
            <a href="/summaries/">Summaries</a>

        </p>
    </div>

    <table class="table periodical lists">
        <thead>
            <tr>
                <th>Focus</th>
                <th>Want</th>
                <th>Good</th>
                <th>Better</th>
                <th>Best</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="focus">
                    {% for plan in combined.plans %}
                        <span class="date {{ plan.thread|slugify }}">{{ plan.pub_date }} {% if plan.thread_id != 1 %}({{ plan.thread }}){% endif %}</span>
                        {{ plan.focus|listize }}
                    {% endfor %}
                </td>

                <td class="want">
                    {% for plan in combined.plans %}
                        <span class="date {{ plan.thread|slugify }}">{{ plan.pub_date }} {% if plan.thread_id != 1 %}({{ plan.thread }}){% endif %}</span>
                        {{ plan.want|listize }}
                    {% endfor %}
                </td>
                <td class="good">
                    {% for reflection in combined.reflections %}
                        <span class="date {{ reflection.thread|slugify }}">{{ reflection.pub_date }} {% if reflection.thread_id != 1 %}({{ reflection.thread }}){% endif %} {% if reflection.dreamstate %}☁{% endif %}</span> 
                        {{ reflection.good|listize }}
                    {% endfor %}
                </td>
                <td class="better">
                    {% for reflection in combined.reflections %}
                        <span class="date {{ reflection.thread|slugify }}">{{ reflection.pub_date }} {% if reflection.thread_id != 1 %}({{ reflection.thread }}){% endif %}</span>
                        {{ reflection.better|listize }}
                    {% endfor %}
                </td>
                <td class="best">
                    {% for reflection in combined.reflections %}
                        <span class="date {{ reflection.thread|slugify }}">{{ reflection.pub_date }} {% if reflection.thread_id != 1 %}({{ reflection.thread }}){% endif %}</span>
                        {{ reflection.best|listize }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


</div>

{% endblock %}

<!-- Load Vue app -->
{% block extrajs %}
{% endblock %}

