{% extends 'base.html' %}
{% load render_assets %}

{% block content %}
<!-- Vue entry-point -->

<div class="summaries">
    {% include "menu.html" %}

    {% for summary in summaries %}

    <article class="summary">
        <h2>
            {{ summary.board.date_closed|date }} ({{ summary.board.thread }}):
            <span class="focus">
                {{ summary.board.focus }}


                <small>
                    [{{ summary.board.date_started|date:"Y-m-d" }} –
                    {{ summary.board.date_closed|date:"Y-m-d" }},
                    {{ summary.days }} days]
                </small>
            </span>
        </h2>

        <div class="boxes">
            <div class="left">
                <ol class="finished">
                    {% for item in summary.finished %}
                        {% include "item.html" %}
                    {% endfor %}
                </ol>
            </div>
            <div class="right">
                <ol class="postponed">
                    {% for item in summary.postponed %}
                        {% include "item.html" %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        
        {% with observations=summary.observations %}
        {% if observations %}
        <div class="observation-list">
            <h3>Obserwacje</h3>
            <ul>
            {% for item in observations %}
                <li {% if item.date_closed %}class="closed" {% endif %}>
                    <strong>{{ item.situation }}</strong> 
                    <em>
                        <small>
                                ({{item.type}}, 
                                {{ item.thread }}
                                {% if item.date_closed %}
                                    <a href="/observations/closed/#observation-{{ item.pk }}">#</a>)
                                {% else %}
                                    <a href="/observations/#observation-{{ item.pk }}">#</a>)
                                {% endif %}
                        </small>
                    </em>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </article>

    {% endfor %}
</div>

{% endblock %}


<!-- Load Vue app -->
{% block extrajs %}
{% endblock %}

