{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block title %}{{ today|date:"l, d M Y" }} | Tasks Collector{% endblock %}

{% block content %}
<div class="split-layout">

<div class="topbar">
    <div class="upper-pane">
        <h1>{{ today|date:"l, d M Y" }}</h1>
        <button type="submit" form="daily-form" class="on-right">Save</button>
    </div>
    <div class="lower-pane">
        <a class="menulink" href="?date={{ yesterday|date:"Y-m-d" }}{% if thread.name != 'Daily' %}&thread={{ thread.name }}{% endif %}">&lt;</a>
        {% if not is_today and thread.name == 'Daily' %}
            <a class="menulink" href="?date={{ actual_today|date:"Y-m-d" }}"><small>&times;</small></a>
        {% endif %}


        <select name="thread" id="thread">
            {% for a_thread in threads %}
            <option
                value="{{ a_thread.name }}"
                {% if a_thread.name == thread.name %}
                    selected
                {% endif %}
            >{{ a_thread }}</option>
            {% endfor %}
        </select>
        <script type="text/javascript">
            const searchParams = new URLSearchParams(window.location.search);

            function setThread(ev) {
                searchParams.set('thread', ev.target.value);
                window.location.search = searchParams.toString();
            }

            document
                .getElementById('thread')
                .addEventListener('change', setThread);
        </script>
        <a class="menulink" href="?date={{ tomorrow|date:"Y-m-d" }}{% if thread.name != 'Daily' %}&thread={{ thread.name }}{% endif %}">&gt;</a>
    </div>
</div>

<div class="split-left">
    <form id="daily-form" action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="thread" value="{{ thread.name }}">

        <div class="navigation">
            {% for plan in larger_plans %}
                <div class="larger-plan small-plan">
                    <h3>{{ plan.thread.name }} plan</h3>
                    {% if plan.focus %}
                        <div class="focus">
                            {{ plan.focus|linebreaks }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="plans-row">
            <div class="plan">
                <h3>Today's plan</h3>
                {{ today_plan_form.as_p }}
            </div>

            <div class="tomorrow">
                <h3>Tomorrow's plan</h3>
                {{ tomorrow_plan_form.as_p }}
            </div>
        </div>

        <div class="reflection">
            <h3>Today's reflection</h3>
            {{ reflection_form.as_p }}
        </div>
    </form>
</div>

<div class="split-right">
    <section class="journal">
        <main>
            <ul>
                {% regroup journals by published.date as entries_by_date %}
                {% for date, entries in entries_by_date %}
                    <li id="{{ date|date:"b-d" }}">
                        {% if not period_is_single_day %}<strong>{{ date|date:"d F" }}</strong>{% endif %}
                        <ul>
                            {% for event in entries %}
                                <li>
                                    {% include "tree/events/journal_added.html" %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                    <li>No journal entries for this month.</li>
                {% endfor %}
            </ul>
        </main>
    </section>

    <div class="habits">
        <h3>Habits</h3>
        {% if tracked_habits %}
            <p>
            {% for item in tracked_habits %}
                <span>
                {% if item.occured %}<input type="checkbox" readonly checked disabled>{% else %}<input type="checkbox" readonly disabled>{% endif %}
                {{ item.habit }}: {{ item.note }}
                </span><br>
            {% endfor %}
            </p>
        {% else %}
            <p>No habits found.</p>
        {% endif %}
    </div>
</div>

</div>

{% endblock %}

