{% extends 'base.html' %}
{% load render_assets %}

{% block body_class %}page-daily{% endblock %}

{% block content %}
<!-- Vue entry-point -->

<div class="calendar">
    {% include "tree/calendar.html" %}
</div>

<div class="daily">
<form action="" method="POST">
    {% csrf_token %}
    <div class="cont">
        <h2>
            <a class="menulink" href="?date={{ yesterday|date:"Y-m-d" }}">&lt;</a>
            {{ today|date:"l, d M Y" }}:

            <select name="thread" id="thread">
                {% for a_thread in threads %}
                <option
                    value="{{ a_thread.name }}"
                    {% if a_thread.name == thread.name %}
                        selected
                    {% endif %}
                >{{ a_thread }}</option>
                {% endfor %}
            </select>
            <script type="text/javascript">
                function setThread(ev) {
                    window.location.search = '?thread=' + ev.target.value;
                }

                document
                    .getElementById('thread')
                    .addEventListener('change', setThread);
            </script>
            <a class="menulink" href="?date={{ tomorrow|date:"Y-m-d"  }}">&gt;</a>
        </h2>
        
        {% include "menu.html" %}

    </div>

    <div class="form">


        <div class="left">
            <div class="navigation">


            </div>

            <div class="plan">
            <h3>Today's plan</h3>
            {{ today_plan_form.as_p }}
            </div>

            <div class="tomorrow">
            <h3>Tomorrow's plan</h3>
            {{ tomorrow_plan_form.as_p }}
            </div>
        </div>

        <div class="right">

            <div class="reflection">
            <h3>Today's reflection</h3>
            {{ reflection_form.as_p }}
            </div>

            <div class="habits">
                <h3>Habits</h3>
                <p>
                    Use the <code>journal</code> tool to add habits to the application. Use the following tags:<br>
                    <small>{% for habit in habits %}{{ habit.as_hashtag }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>
                </p>
                {% if tracked_habits %}
                    <p>
                    {% for item in tracked_habits %}
                        <span>
                        {% if item.occured %}<input type="checkbox" readonly checked disabled>{% else %}<input type="checkbox" readonly disabled>{% endif %}
                        {{ item.habit }}: {{ item.note }}
                        </span><br>
                    {% endfor %}
                    </p>
                {% else %}
                    <p>No habits found.</p>
                {% endif %}
            </div>

            <button>Submit</button>
        </div>
    </div>

    <section class="journal">
        <h1>Journal Entries</h1>

        <main>
            <ul>
                {% regroup journals by published.date as entries_by_date %}
                {% for date, entries in entries_by_date %}
                    <li id="{{ date|date:"b-d" }}">
                        <strong>{{ date|date:"d F" }}</strong>
                        <ul>
                            {% for event in entries %}
                                <li>
                                    {% include "tree/events/journal_added.html" %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                    <li>No journal entries for this month.</li>
                {% endfor %}
            </ul>
        </main>
    </section>
</form>
</div>

{% endblock %}

<!-- Load Vue app -->
{% block extrajs %}
{% endblock %}

