.whiteboard {

    .upper-pane {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        position: absolute;
        left: 50px;

        display: block;
        border: 1px solid #ccc;
        border-top: 0;
        height: auto;
        background-color: #efefef;

        h1 {
            margin-bottom: 0;
        }
    }

    .lower-pane {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .shelf {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 40px;

        width: 300px;

        border-left: 1px solid #999;
        padding-left: 0.75rem;

        overflow: auto;

        .item {
            margin-top: 0.35rem;
            margin-bottom: 0.35rem;

            cursor: pointer;
        }

        .item:hover {
            background-color: #f9f9f9;
        }
    }

    .blackboard {
        .item {
            position: absolute;
        }
    }

}