

* {
    box-sizing: border-box;


}


body, html {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.95rem;
}

.upper-pane {
    height: $upper-pane;
    padding: 3px 10px;

    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: #999;

        input {
            padding: 0;
            border: 0;
            margin: 0;
            font-size: 1em;
            outline: 0;
            font-weight: bold;
            width: calc(100vw - 200px);
            color: #666;
        }
    }

    display: flex;
    align-items: center;
    flex-direction: row;

    border-bottom: 1px solid #efefef;
}

.lower-pane {
    height: $lower-pane;
    padding: 3px 10px;
    background-color: #efefef;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#id_habit_line-line {
    height: 4em;
}

.periodical {
    border-collapse: collapse;

    td, th {
        border: 1px solid #e0e0e0;

        vertical-align: top;

        padding: 0.75rem 0 ;

        ul {
            margin: 0;

            list-style-type: none;

            padding: 0 10px;
            li {
                padding: 0;
                margin: 0.20rem 0;
                position: relative;


                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: '•';
                      position: absolute;
                      left: -10px;
                }
            }
        }
    }

    td {
        min-width: 18rem;
    }

    th {
        padding: 0.75rem 10px;
    }

    .in-sync {
        text-align: center;
        font-size: 1.5em;
    }

    &.lists {
        margin: 0 15px;

        td, th {
            border: 0;
        }

        th {
            text-align: left;
            font-size: 1.5rem;
            color: #999;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        td {
            padding-top:0;

            &.good, &.better, &.best {
                width: 24%;
            }

            &.focus, &.want {
                width: 14%;
            }
        }
    }

    span.date {
        text-transform: uppercase;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 0.9em;

        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 0.25rem;

        color: #bbb;
        border-bottom: 1px solid #e0e0e0;

        &.weekly {
            color: #14a3d0;
            border-bottom-color: #14a3d0;

            + ul {
                font-weight: 500;
                color: darken(#14a3d0, 10%);
            }
        }

        &.big-picture {
            color: #d08614;
            border-bottom-color: #d08614;

            + ul {
                font-weight: 500;
                color: darken(#d08614, 10%);
            }
        }
    }
}

.tree > .tree-root {
    margin: 0;
}

.on-right {
    margin-left: auto;
}

@for $i from 1 through 3 {
    .dots[data-dots="#{$i}"] {
        .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 1px;
            margin-right: 1px;
            border-radius: 6px;
            border: 2px solid #999;
        }
    }
}

.dots[data-dots="4"] {
    .dot{
        display: none;
    }

    width: 32px;
    height: 8px;
    border-radius: 6px;
    display: inline-block;
    border: 2px solid #999;
}


.dots.weeksInList {
    border-color: #4a7dfb;

    .dot {
        border-color: #4a7dfb;
    }
}

.dots.full.madeProgress {
    .dot {
        border-color: #8edc8078;
        background-color:  #8edc8078;
    }
}

.dots.important {
    border-color: #ca3518;

    .dot {
        border-color: #ca3518;
    }
}

.spacer {
    display: inline-block;
    width: 0.5rem;
}

.tree-text {
    position: relative;
}

.has-finalizing {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    display: block;
    height: 3px;
    background-color: #9d06a7bf;
}

.transition {
    color: #999;
    font-size: 0.8em;
    padding-left: 10px;
}

.v-context.v-context-inline > li > a,
.v-context.v-context-inline ul > li > a {
    display: inline-block;
    padding: .5rem 1rem;
    font-weight: 400;
    color: #212529;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

body.page-daily {
    background: #f9f9f9;
}

.page-daily .daily {

    width: 75%;

    min-width: 1140px;
    margin: auto;

    padding-top: 1px;

    .cont {
        margin-left: 20px;
        margin-right: 20px;
    }

    h2, h3 {
        color: #999;
    }

    .form {
        display: flex;

    }

    .left, .right {
        margin: 0 20px;
        flex: 1;
    }

    label {
        display: block;
    }

    textarea {
        width: 100%;
        border: 1px solid #f4f9f9;

        &:focus, &:hover {
            border: 1px solid #eee;
        }

        outline:none;

        font-size: 1rem;
        font-family: 'Raleway', sans-serif;

        color: #205e7d;

        padding: 0.45rem 0.75rem;


    }

    .helptext {
        font-size: 0.9em;
        color: #999;
    }
}

.menu a, .menulink {
    color: #205e7d;
    text-decoration: none;

    margin-left: 10px;

    font-weight: normal;

    &:first-child {
        margin-left: 0;
    }

    &:hover, &:active {
        color: lighten(#205e7d, 25%);
    }
}

.menu.observation {

    margin-top: 3rem;
    margin-bottom: -1.3rem;

    a {
        background: white;
        border-radius: 3px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        padding: 10px 1rem 10px;
    }
}

.badge {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;

    text-align: center;

    font-size: 0.9em;
}

h2 .menulink {
    margin-left: 0;
}

h1 + .cont .menu a:first-child {
    margin-left: 40px;
}

.summaries {
    width: 75%;

    min-width: 1140px;

    margin: auto;

    h2, h3 {
        color: #999;
    }

    h2 {
        border-bottom: 1px solid #eee;
    }

    article {
        margin: 2rem 0;

        .boxes {
            display: flex;
        }

        .left, .right {
            margin: 0 20px;
            flex: 1;
        }

        ol {
            li {
                margin: 4px 0;


                padding: 9px 10px;

                position: relative;
            }
        }

        .dots .dot {
            margin: 0 -1px;
        }

        .finished li {
            border-left: 32px solid #8edc8078;

        }

        .postponed li {
            border-left: 32px solid #31d0ff73;
        }

        .has-finalizing {
            left: 10px;
        }
    }


}

h1, h2 {
    .focus {
        color: #666;
        font-weight: 400;

        margin-left: 6px;
    }
}

article.quest {
    a.main {
        text-decoration: none;
        color: rgb(158, 38, 1);

        font-weight: 600;

        margin-right: 2em;
    }

    &.completed {
        a.main {
            color: rgb(139, 153, 111);
        }
    }

    &.fall {
        margin: 0;
        padding: 14px 20px;

        border-radius: 0;

        .meta {
            float: right;
        }
    }
}

.cont + article.quest.fall {
    margin-top: 2rem;
}

.quest-single-item {
    .stage {
        position: absolute;
        left: -140px;
        width: 120px;
        text-align: right;
        font-size: 4em;
        color: #d3d3d3;
        font-weight: 500;
    }

    .date {
        color: #999;
    }
}

.vh60 {
    height: 60vh;
}

.observations {
    max-width: 50rem;

    font-size: 1.1rem;

    margin: auto;

    article {
        position: relative;

        margin: 2rem 0;

        padding: 14px 20px;

        background: #fff;

        border-radius: 3px;

        box-shadow: 0 1px 3px rgba(0,0,0,0.1);

        .expand {
            display: none;
        }

        &.open .expand {
            display: block;
        }

        .observation-hide {
            color: #4a7dfb;
            cursor: pointer;

            &::after {
                display: block;

                content: "More";
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 4px 6px;
            }

            &:hover {
                color: darken(#4a7dfb, 20%);
            }
        }

        &.open .observation-hide {
            &::after {
                content: "Less";
            }

            &::before {
                display: block;

                content: "Less";
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 6px;
            }
        }

    }

    .strong {
        color: #444;
        font-weight: bold;

        margin: 1rem 0;
    }

    .label {
        color: #999;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    .meta {
        color: #999;
        font-size: 1rem;
        font-style: italic;

        a {
            color: #999;
        }
    }

    .type {
        color: #ca8911;
    }
}

.observation-list {
    li {
        line-height: 1.4;
    }

    .closed {
        opacity: 50%;
    }
}

.just-line {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 1rem 0;
    height: 1px;
}

.claim {
    margin-top: 4rem;

    h2 {
        text-align: center;
    }

    .description {
        font-size: 1.2rem;
        color: rgb(121, 109, 8);

        font-weight: 500;

        margin-bottom: 4rem;
        margin-top: 2rem;

        position: relative;

        text-align: center;
    }

    form {
        text-align: center;

        padding-bottom: 2rem;
    }

    button {
        background: rgb(165, 80, 31);

        font-size: 1.2rem;

        color: rgba(255, 255, 255, 0.9);

        padding: 9px 24px;

        border: 0;
        border-radius: 12px;
        
        font-family: Raleway, sans-serif;

        &:hover, &:active {
            background: darken(rgb(160, 102, 15), 10%);

            transition: all 0.2s ease-in-out;
        }
    }
}

.claimed {

    margin-top: 0;

    .item {
        display: flex;

        align-items: stretch;


        .emoji {
            display: block;
            width: auto;
            font-size: 3rem;

            padding-right: 20px;
            border-right: 1px solid #f3f3f3;
            margin-right: 20px;

            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .rest {
            padding: 14px 0;
        }
    }

    h3 {
        margin-top: 0;

        color: rgb(165, 80, 31);
    }

    .number {
        position: absolute;
        width: 120px;
        text-align: right;
        font-size: 4em;
        color: #d3d3d3;
        font-weight: 500;

        bottom: 0;
        right: 20px;

        &::before{
            content: "x";
        }
    }
}

.mt-0 {
    margin-top: 0 !important;
}

.quest-meta {
    margin: 3rem 20px .25rem;
    opacity: 40%;

    transition: 0.4s all ease-in-out;

    &:hover {
        opacity: 100%;
    }

    a.main {
        text-decoration: none;
        color: rgb(158, 38, 1);

        font-weight: 600;

        margin-right: 2em;
    }

    &.completed {
        a.main {
            color: rgb(139, 153, 111);
        }
    }
}

.cont .cont {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.observation-edit {

    h2, h3 {
        color: #999;
    }

    .form {
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
    }

    .left, .right {
        margin: 0 20px;
        flex: 1;
    }

    label {
        display: block;
    }

    textarea {
        width: 100%;
        border: 1px solid #f4f9f9;

        &:focus, &:hover {
            border: 1px solid #eee;
        }

        outline:none;

        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        color: #205e7d;

        padding: 0.45rem 0.75rem;
    }

    .form {
        display: flex;
    }

    .left, .right {
        margin: 0 20px 4rem;
        flex: 1;
    }

    @media screen and (max-width: 767px) {
        .form {
            flex-wrap: wrap;
        }

        .left, .right {
            width: 100%;
            flex: 0 0 calc(100% - 40px);
        }
    }

    label {
        display: inline-block;
    }

    .left {
        label {
            display: block;
        }

        input, select {
            width: 100%;
            padding: 0.45rem 0.75rem;

            border: 1px solid #f4f9f9;

            &:focus, &:hover {
                border: 1px solid #eee;
            }

            background: #fff;

            outline: none;
        }
    }

    .right {
        .helptext {
            display: none;
        }

        input[type=hidden] + label {
            display: block;
            margin-top: 1rem;
        }
    }

    textarea {
        width: 100%;
        border: 1px solid #f4f9f9;

        &:focus, &:hover {
            border: 1px solid #eee;
        }

        outline:none;

        font-size: 1rem;
        font-family: 'Raleway', sans-serif;

        color: #205e7d;

        padding: 0.45rem 0.75rem;


    }

    .helptext, .meta {
        font-size: 0.9em;
        color: #999;
    }

    .meta {
        font-style: italic;
        margin-top: -1rem;
    }

    label[for=id_pub_date] {
        margin-top: 4rem;
    }

    div.submit {
        margin: 2rem 0;
    }

    button.submit {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        color: #fff;
        background-color: #205e7d;
        padding: 10px 30px;
        border: 2px solid darken(#205e7d, 10%);
        border-radius: 10px;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:hover {
            transition : 1000ms;
            padding: 10px 50px;
            transform : translateY(-0px);
            background-color: #fff;
            color: darken(#205e7d, 5%);
            border: solid 2px darken(#205e7d, 10%);
        }
    }
}

.journal-section {
    background-color: white;
    padding: 0.5rem 0.75rem;

    margin: 0 20px 3rem;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);


}

.single-journal {
    margin: 0.5em 0;

    .meta {
        font-weight: 600;
        color: #333833;
        font-size: 0.875em;
    }

    .meta + p {
        margin-top: 0.25rem;
    }
}


.event {
    margin: 0.4em 0;
    
    .minus {
        border-left: 8px solid salmon;
        color: salmon;
        padding-left: 0.2em;
    }

    .plus {
        border-left: 8px solid lightseagreen;
        color: lightseagreen;
        padding-left: 0.2em;
    }

    .minus p, .plus p {
        margin: 0;
    }

    ins.empty, del.empty {
        opacity: 0.5;
        text-decoration: none;
        font-style:italic;
    }

    ins, del {
        display: block;
        padding: 0.2em 0;
    }
}

.pagination {
    margin: 2rem 0;
    text-align: center;

    a {
        display: inline-block;
        padding: 1rem 3rem;
    }
}

section.journal {
    width: 100%;
    max-width: 50rem;

    background-color: #fff;
    padding: 1rem 2rem;

    margin: auto; 

    main {
        font-size: 1.1rem;

        ul {
            padding-left: 0;
    
            li {
                list-style: none;
                position: relative;
                margin-top: 3rem;
    
                ul {
    
                    padding-left: 3.24rem;
                    li {
                        margin-top: 0;
                        list-style: none;
                    }
             
                }
    
                p[data-time]::before {
                    content: attr(data-time);
                    font-size: 0.875em;
                    font-weight: bold;
                    color: #999;
                    margin-right: 0.25em;
                    position: absolute;
                    left: -3.24rem;
                }
            }
        }
    }

    aside.days {
        position: sticky;
        float: left;
        margin-left: -90px;
        top: 20px;

        opacity: 0.35;

        &:hover {
            opacity: 1;
        }

        ul {
            padding-left: 0;
            li {
                list-style: none;
            }
        }


        a {
            padding: 0.35rem 0.75rem;
            display: block;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
            margin: 0.25rem 0;
            font-size: 0.875rem;
            font-weight: bold;

            color: #0066cc;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        
    }

    aside.months {
        position: sticky;
        float: right;
        margin-right: -13rem;
        top: 20px;
        width: 100%;
        max-width: 10rem;
        
        opacity: 0.35;

        &:hover {
            opacity: 1;
        }
        
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;

        h2 {
            margin-top: 0;
            font-size: 1.2rem;
            color: #333;
        }

        ul {
            margin: 0;
            padding-left: 0;

            li {
                list-style: none;
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #0066cc;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

body.quick-notes {
    background-color: #f3f4f5;
    max-width: 50rem;

    font-size: 1.1rem;

    margin: auto;

    #form label {
        display: none;
    }

    #form textarea {
        height: 6.5rem;
        width: 100%;
        font-size: 1.6rem;
    }

    #form button[type=submit] {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;

        float: right;
    }

    .quick-note-list {

        background-color: #fff;
        padding: 0.4rem 0.5rem;
        
        .note {
            margin: 1rem 0;

            .timesince {
                font-size: 0.86em;
                font-weight: bold;
                color: #666;
            }

            .content {
                p:first-child {
                    margin-top: 0;
                }

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .note:first-child {
            margin-top: 0;
        }

        .note:last-child {
            margin-bottom: 0;
        }
    }
}