<div class="event-meta" data-time="{{ event.published|time:"H:i" }}">
    <strong>Recontextualized</strong>
    <small>{% if show_observation %} 
        {% if event.observation_id %}
            <a href="{% url 'public-observation-edit' event.observation_id %}">
                #{{ event.observation_id }}
            </a>
        {% else %}
            <a href="{% url 'public-observation-closed-detail' event.event_stream_id %}">
                ${{ event.event_stream_id|truncatechars:9 }}
            </a>
        {% endif %}
    {% endif %}</small>
</div>

<div class="minus">
    {% if not event.old_situation %}
        <del class="empty">empty</del>
    {% else %}
        <del>{{ event.old_situation|linebreaks }}</del>
    {% endif %}
</div>

<div class="plus">
    {% if not event.situation %}
        <ins class="empty">empty</ins>
    {% else %}
        <ins>{{ event.situation|linebreaks }}</ins>
    {% endif %}
</div>